.gif-finder {
  height: 100%;
  padding: 0;
  margin:0;
}

.app-header {
  height: 5%;
}

.app-content {
  height: 95%;
}

.app-toolbar {
  height: 100%;
}

.reaction-gifs-main {
  margin-top: 50px;
  height: 100%;
}
